# Базові налаштування Django
DEBUG=1
DJANGO_SECRET_KEY=super-secret-key-for-dev
ALLOWED_HOSTS=localhost,127.0.0.1,django,0.0.0.0

# LocalStack Pro
LOCALSTACK_AUTH_TOKEN=

# Налаштування PostgreSQL (Основна БД)
POSTGRES_DB=django_db
POSTGRES_USER=db_admin
POSTGRES_PASSWORD=strong_password
POSTGRES_HOST=postgres-service
POSTGRES_PORT=5432

# Налаштування MySQL (Для різноманітності, не обов'язково)
MYSQL_ROOT_PASS=root_super_secret
MYSQL_DB=django_mysql_db
MYSQL_USER=mysql_admin
MYSQL_PASS=strong_mysql_password

# Секрети для Terraform (Jenkins)
TF_VAR_jenkins_admin_username="admin10"
TF_VAR_jenkins_admin_password="super_secure_jenkins_password_123"
